.reactMarkDown ul {
    margin-top: 1em;
    margin-bottom: 1em;
    list-style: disc outside none;
}

.reactMarkDown ul li {
    margin-left: 2em;
    display: list-item;
    text-align: -webkit-match-parent;
}

.reactMarkDown ol li {
    counter-increment: muffins
}
.reactMarkDown ol li:before {
    content: counter(muffins) ". ";
}
.reactMarkDown ol {
    list-style: none;
    counter-reset: muffins;
}