@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

a {
  @apply text-orange-700;
}

a:hover {
  @apply underline;
}

span,
p {
  @apply font-light;
}

/* Styles for lazy loaded images */
.blur-up {
  -webkit-filter: blur(5px);
  filter: blur(5px);
  transition: filter 500ms ease-in, -webkit-filter 500ms ease-in;
}

.blur-up.lazyloaded {
  -webkit-filter: blur(0);
  filter: blur(0);
}

.active{
  display: block;
}

.filter-orange-700{
  filter: brightness(0) saturate(100%) invert(35%) sepia(91%) saturate(547%) hue-rotate(338deg) brightness(95%) contrast(96%);
}